fastapi
uvicorn[standard]
numpy
pandas
scikit-learn
xgboost
tensorflow==2.15.0
python-multipart
pydantic
huggingface_hub
reportlab
openpyxl
python-dotenv
requests
opencv-python-headless
pillow
scipy
matplotlib
seaborn
plotly